@font-face {
    font-family: fol;
    src: url(../fonts/folded-regular-webfont.woff2);
}
@font-face {
    font-family: mod;
    src: url(../fonts/ModerneLLWeb-Medium.woff2);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    font-weight: bolder;
    font-family: mod;
    z-index: 10;
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    top:0;
    border: 1px solid black;
}
 header nav{
     font-family: mod;
     display: flex;
     justify-content: start;
}
.hombre, nav a:hover{
    border-bottom: 3px solid #DA291C;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}
header:last-child{
    margin-left: 30px;
}

header i{
    margin-left: 20px;
}


.hero{
    font-family: mod;
    background-image: url("../img/background-1.avif");
    height: 400px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_absoluto{
    position: absolute;
    top: 100px;
    left: 40vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_absoluto button{
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
  
}
button:hover{
    background-color: black;
    color: #fff;
}

.hero_absoluto h2{
    font-family: mod;
    color: white;
    padding: 10px;
    border: 1px solid gray;
}

.div_1{

    background-image: url("../img/background-3.avif");
    background-size: cover;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_1 div{
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}

.div_1 div{
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}
.div_1 button{
    margin-top: 30px;
    width: 180px;
    padding: 10px;
    margin-left: 30px;
}

.div_2 button{
    margin-top: 30px;
    width: 300px;
    padding: 10px;
}
.div_2{
    font-weight: bolder;

    background-image: url("../img/background-4.avif");
    background-size: cover;
    height:300px;  
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.div_2 h3{
    color: white;
}
.seccion_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productos{
    font-weight: bolder;
    font-family: mod;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   padding: 10px;
   gap: 10px;
}
.productos div{
    border: 1px solid red;
}

.productos img{
    height:86%;
    width: 100%;
}

.contenedor_slogan{
    font-family: fox, mod;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.imagen{
    background-image: url("../img/animation.gif");
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo{
    font-family: fox, mod;
    background-color: black;
    height: 12vh;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 12vh;
    font-weight: bolder;
}
.first{
    background-color: gray;
    width: 100%;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    text-align: center;
    font-weight: bolder ;
    font-size: 20px;

}
.ligth{
    font-weight: lighter;
}

footer{
    font-family: fox, mod;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border: 1px solid black;

}
font .icons img{
    height: 22px;
    margin-right: 3px;
    font-weight: bolder;
}
footer img{
    width: auto;
    height: 100%;
}


.iconos img{
    height: 22px;
}

.españa img{
    height:22px
}

.iconos{
    font-family: fox, mod;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

#españa{
    font-family: fox, mod;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    gap: 20px;
}
@media (max-width:720){
    .productos{
        display:flex;
        flex-direction: column;
    }
    header{
        height: 25vh;
        display: flex;
        flex-direction: column;
    }
    .contenedor_slogan{
        display:flex;
        flex-direction: column;
    }
}